location / {
  root {DOCROOT}webroot/;
  try_files $uri $uri/ /index.php?$args;
  index  index.php;
}
location = /favicon.ico {
  root {DOCROOT}webroot/;
  log_not_found off;
  access_log off;
}
location = /robots.txt {
  root {DOCROOT}webroot/;
  log_not_found off;
  access_log off;
}
location ~ /(\.ht|\.user.ini|\.git|\.hg|\.bzr|\.svn) {
  deny  all;
}
